@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.calculator {
  margin-bottom: 50px;
}

.calculator form fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.calculator form fieldset legend {
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='number'] {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 5px;
  cursor: pointer;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 3px;
}

.result {
  border: 3px solid black;
}

thead,
tbody,
tr,
th,
td {
  border: 2px solid black;
  padding: 5px;
}

.values {
  height: 100px;
  color: blue;
  font-weight: bold;
  text-align: center;
}
